<!DOCTYPE html>
<!-- This file is useless except just in case for the record. -->

<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Booking Email: </h3>
    <%= booking.email %> 
    <br>
    <h3>Number of Ticket(s): </h3>
    <%= booking.numTickets %>
    <br><br>

  </body>
</html> 